.wrapper {
    background-image: url("images/menu-images/paisley pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* min-height: 100dvh; */
}

.menu_content {
    padding: 24px;
    width: 100%;
    max-width: 1200px;
}

.dish_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
}

.menu_items {
    display: grid;
    gap: 16px;
}

.menu_item {
    width: 100%;   
    height: fit-content; 
    background-color: green;
}

.dish_image {
    height: 100px;
    width: 100px;
}