/*only screen ist nur für Bildschirmgeräte, also nicht zB für Druckansicht.
Das modernste, wenn ich es nicht unterscheiden brauche (also für alle Medientype), ist einfach 
@media (min-width: 1000px) {} zu benutzen*/

/*wenn ich hover für mobile Geräte brauche, kann ich es zum :active ändern*/

@media (min-width: 481px) {
  a {
    font-size: 20px;
  }
  .nav_links {
        font-size: 18px;
    }
  h1 {
    font-size: 56px;
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 18px;
  }
  h2 {
    font-size: 36px;
  }
}



@media (min-width: 769px) {
    .header {
        justify-content: center;
        gap: 2dvw;
    }

    .contact img {
        width: 50%;
    }

    .contact {
        flex-direction: row;
        max-width: 1440px;
        gap: 8dvw;
    }

    .footer_links {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 24px;
}
}

@media (min-width: 1000px) {
    .about {
        grid-template-columns: 1fr 1fr;
        /*das macht das immer 50-50 breit, also tick einfacher,  als mit flex zu schreiben*/
    }
    .btn_panel {
        flex-direction: row;
    }
    .contact {
        align-items: center;
    }
    h1 {
        font-size: 78px;
    }
    header {
        justify-content: center;
        gap: 10%;
    }
}

